mxnet>=1.7.0.post1
scipy>=1.5.1
numpy>=1.19.4
scikit-image>=0.17.2
cython
pydensecrf @ https://github.com/lucasb-eyer/pydensecrf
pandas>=1.0.5
opencv_python>=4.3.0.36
matplotlib>=3.3.0
Pillow>=8.1.0
tensorboardX>=2.1
tqdm
jedi>=0.18.1
ipython>=7.31.0
pyflakes>=2.4.0
pylint>=2.12.2
autopep8>=1.6.0
